<main>
    <section id="page-index" class="page">
        <div class="px-4 py-5 my-5 text-center">
            <h1>
                <img height="300px" width="300px" class="d-block mx-auto mb-4" src="<%- require(`./style/images/default.svg`) %>" alt="Topscorio">
            </h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Power your games with real-time multiplayer and live high scores.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button id="index-sign-in" type="button" class="btn btn-primary btn-lg px-4 gap-3">Start now</button>
                    <button id="index-play" type="button" class="btn btn-outline-secondary btn-lg px-4">Try game</button>
                </div>
            </div>
        </div>
    </section>

    <section id="page-games" class="page hidden">
        <div class="container">
            <form id="games-new-game-form">
                <div class="py-5 text-center">
                    <img class="d-block mx-auto mb-4" src="<%- require(`./style/images/default.svg`) %>" alt="" width="150" height="150">
                    <h2>Create a new game</h2>
                    <p class="lead">Enter the details of your game and allow players to compare scores and play together.</p>
                </div>

                <div class="row g-5">
                    <div class="mb-3">
                        <label for="games-game-name" class="form-label">Name</label>
                        <input class="form-control" id="games-game-name" placeholder="My awesome game">
                    </div>
                    <div class="mb-3">
                        <label for="games-game-code" class="form-label">Game code (in Javascript)</label>
                        <textarea class="form-control" id="games-game-code" rows="20">
                    // define a Game class with a start and a move function, we take care of the rest!

                    class Game {
                        start(players) {
                            const state = {
                                // initial game state
                            }
                            return state
                        }
                    
                        move(state, player, move) {
                            // calculate move result
                            state.game_over = false
                            return state
                        }
                    }
                </textarea>
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" id="games-create-game">Create game</button>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="py-5 text-center">
                <h2>Newest games</h2>
                <ul id="games-newest-games" class="list-group">
                </ul>
            </div>
        </div>

        <div class="container text-center">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.reload()">Go back</button>
        </div>
    </section>

    <section id="page-game" class="page hidden">
        <header class="site-header sticky-top py-1">
            <nav class="container d-flex flex-column flex-md-row justify-content-between">
                <span>
                <span id="game-player-email" class="py-2 d-none d-md-inline-block" href="#">email@hey.com</span>
                <span class="badge bg-primary" id="game-player-rating-badge">1200</span>
                </span>
            </nav>
        </header>
        <div id="game-states">
            <div class="container" id="game-waiting">
                <div class="py-5 text-center">
                    <button class="btn btn-primary" id="game-join-game-button">Look for game</button>
                </div>
            </div>

            <div class="container hidden" id="game-lobby">
                <div class="py-5 text-center">
                    <h2 id="game-waiting" class="">Waiting for match...</h2>
                    <h2 id="game-in-lobby" class="hidden">
                        In lobby with: <span class="badge bg-primary" id="game-lobby-opponent-badge"></span>
                    </h2>
                    <button class="btn btn-primary" id="game-lobby-start-button">Start game</button>
                </div>
            </div>

            <div class="container hidden" id="game-play">
                <p>You are playing as <span id="game-color"></span></p>
                <p>It is currently <span id="game-turn"></span>'s turn to move</p>
                <div id="game-board" class="merida"></div>
            </div>

            <div class="container hidden" id="game-finished">
                <div class="py-5 text-center">
                    <h2>Great game!</h2>
                    <p>Your rating is now <span class="badge bg-primary" id="game-result-rating"></span></p>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.reload()">Go back</button>
        </div>
    </section>
</main>